.nav {
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 900;
    justify-content: center;

    nav {
        position: relative;
        background: transparent;
        height: 70px;
        width: calc(100% - 60px);
        max-width: 1330px;
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
            display: none;
        }

        h1 {
            position: absolute;
            margin: 0;
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: 900;
            letter-spacing: -2px;
            color: var(--main);
        }

        button[type=submit] {
            position: absolute;
            left: 0;
            color: var(--main);
            font-size: 1.5rem;
            transition: all 0.3s;

            &:hover {
                color: var(--main-darker);
            }
        }
    }

    &-links {
        display: flex;
        gap: 12px;
        position: absolute;
        right: 0;

        a {
            display: none;
        }
    }

    &-menu {
        position: absolute;
        z-index: 50;
        top: 70px;
        width: 100%;
        background: hsl(var(--background));
        z-index: 100;
        left: 0;
        right: 0;
        padding: 20px;

        ul {
            padding: 0;
            margin: 0;
            width: 100%;

            li {
                display: block;
                width: 100%;

                a {
                    padding: 5px;
                    display: block;
                    color: hsl(var(--muted-foreground));

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        &-login {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 12px;
            width: 100%;
            text-transform: uppercase;
            color: hsl(var(--foreground));
            height: 40px;
            border-radius: var(--radius);
            transition: all 0.3s;
        }
    }
}

@media (min-width: 768px) {
    .nav {
        &-links {
            a {
                display: flex;
            }
        }

        &-menu {
            &-login {
                display: none;
            }

            ul {
                display: flex;
                gap: 8px;

                li {
                    width: initial;
                }
            }
        }
    }
}

@media(min-width: 1024px) {
    .nav {
        &-menu {
            display: none;
        }

        nav {
            button[type=submit] {
                display: none;
            }

            ul {
                margin: 0;
                padding: 0;
                display: flex;
                gap: 8px;
                position: absolute;
                left: 160px;

                li {
                    font-size: 0.8rem;
                    color: hsl(var(--muted-foreground));
                    transition: all 0.3s;
                    text-transform: uppercase;
                    letter-spacing: 0.1rem;

                    &:hover {
                        color: hsl(var(--background-foreground));
                    }
                }
            }

            h1 {
                position: absolute;
                left: 0;
            }
        }
    }
}

.nav-border {
    border-bottom: 1px solid hsl(var(--border));

    &-top {
        border-top: 1px solid hsl(var(--border));
    }
}